.sub-link, .sub-text {
	font-size: 13px;
	font-weight: normal;
}

.click-note {
	display: none;
}

.hovering .click-note {
	display: inline;
	font-weight: normal;
	font-size: 13px;
	color: #999;
}

.draggable {
	cursor: move;
}

.sidebar {
	float: left;
	width: 200px;
	background: #e5e5e5;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #d5d5d5;
}

	.sidebar ul {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
	}

	.sidebar li {
		list-style-type: none;
		margin-left: 15px;
		padding-left: 0;
	}

.sticky {
	position: fixed;
	top: 45px;
}

.main {
	width: 700px;
	float: right;
}

.info {
	font-style: italic;
	color: #666;
}

#saving {
	display: none;
}

.item-list-sortable {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.sortable-item {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	background: #e5e5e5;
	padding: 3px 10px 3px 10px;
	margin-left: 0px;
	margin-bottom: 8px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #d5d5d5;
}

.sortable-item:hover {
	cursor: move;
}

	.sortable-item a {
		color: #222;
		text-decoration: none;
	}

	.sortable-item a:hover {
		color: #222;
		text-decoration: none;
		cursor: move;
	}

#items {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

.item {
	list-style-type: none;
	background: #e5e5e5;
	padding: 10px;
	padding-bottom: 0px;
	margin-left: 0px;
	margin-bottom: 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #d5d5d5;
}

	.item p, .item h6 {
		margin-bottom: 10px !important;
	}

	.item p label {
		width: 60px;
		display: inline-block;
	}

	.item p label.wide {
		width: 120px;
	}

	.delete {
		float: right;
	}

	.item textarea {
		font-family: monospace;
	}

/* full/list fields toggle */
.toggle {
	float: right;
	text-align: right;
	height: 28px;
}

	.toggle a {
		display: block;
		float: right;
		width: 20px;
		height: 20px;
	}

	#toggle-full {
		background: url(full-off.png);
		-webkit-border-top-left-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border: 1px solid #c5c5c5;
		border-right: 0px;
	}

	#toggle-list {
		background: url(list-off.png);
		-webkit-border-top-right-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		-moz-border-radius-bottomright: 3px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		border: 1px solid #c5c5c5;
	}

	#toggle-full.active {
		background: url(full-on.png);
	}

	#toggle-list.active {
		background: url(list-on.png);
	}

/* wysiwyg editor visual integration */
.redactor_box {
	background: inherit;
	border: 0px none;
}

.redactor_toolbar {
	background: inherit;
	border: 0px none;
}

.redactor_editor {
	border: 1px solid #999;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.redactor_toolbar li.redactor_separator {
	border-right: 0px none;
}

.CodeMirror {
	background-color: #fff;
	border: 1px solid #999;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 160px;
	width: 98%;
	overflow: auto;
}
