#lemur-other-menu {
	display: none;
}

#lemur-course-body {
	float: left;
	width: 600px;
}

	#lemur-course-body img {
		max-width: 472px;
	}

#lemur-course-comments {
	border-top: 5px solid #ddd;
}

.error {
	font-weight: bold;
	color: #c33;
}

.learner-progress-bar {
	display: block;
	width: 98%;
	height: 16px;
	border: 1px solid #bbb;
	background-color: #fff;
}

.learner-progress-made {
	display: block;
	width: 0%;
	height: 16px;
	border: 0;
	background-color: #fd0;
}

.learner-progress-done {
	display: block;
	width: 100% !important;
	height: 16px;
	border: 0;
	background-color: #8dc63f;
}

.lemur-subscribe {
	text-align: center;
}
