.lemur-item {
	margin-bottom: 15px;
}

.lemur-item h4 {
	border-bottom: 0px;
	margin-bottom: 15px;
}

.lemur-item img {
	max-width: 472px;
}

.lemur-item pre {
	border: 1px solid #ccc;
	background-color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 3px;
}

.lemur-item dt {
	font-weight: bold;
}

.lemur-item dt:after {
	content: ":";
}

.lemur-item dd {
	margin-left: 20px;
}

.lemur-item figure {
	width: 472px;
	margin: auto;
}

.lemur-item figcaption, .lemur-item .item-caption {
	font-style: italic;
}

.lemur-item input[type=text] {
	width: 98%;
}

.lemur-item textarea {
	width: 98%;
	height: 100px;
}

.lemur-item fieldset {
	margin-bottom: 0px;
}

.lemur-item label, .lemur-item legend {
	font-weight: bold;
}

.lemur-item fieldset label {
	font-weight: normal;
}

.lemur-item table {
	width: 98%;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

	.lemur-item table td {
		padding: 3px 5px 3px 7px;
		border: 1px solid #ddd;
	}

.item-reveal {
	background-color: #ffe;
	border: 1px dashed #bbb;
	padding-left: 8px;
	padding-right: 8px;
}

	.item-reveal h4 {
		cursor: pointer;
		padding-top: 3px;
		padding-bottom: 4px;
		margin-bottom: 0;
	}

	.item-reveal h4 i {
		color: #49afcd;
		margin-right: 2px;
	}
	
	.item-reveal>div {
		margin-top: 12px;
	}

.learner-response {
	background-color: #eef5ff;
	border: 1px solid #bcd;
	padding: 4px 8px 3px 8px;
	margin-top: 5px;
}

	.learner-notice {
		font-weight: bold;
		display: block
	}
