<div id="item-{{id}}" class="lemur-item item-input-text">
	{% if answered %}
	<div class="item-answer">
	<strong class="item-question">{{title}}</strong><br />
	<div class="learner-response">
		<span class="learner-notice">{"You have submitted the following answer"}:</span>
		<span class="item-answer">{{answer}}</span>
		{% if correct === -1 %}
		({"incorrect"})
		{% elseif correct === 1 %}
		({"correct"})
		{% end %}
	</div>
	</div>
	{% else %}
	<form class="item-input-form" data-id="{{id}}" data-question="{{title|quotes}}">
	{% if instructor %}
		<input type="hidden" name="instructor" value="yes" />
	{% end %}
		<label for="input-{{id}}">{{title}}</label><br />
		<input type="text" id="input-{{id}}" name="input-{{id}}" />
		<input type="submit" value="{"Submit"}" />
	</form>
	{% end %}
</div>
