<div id="item-{{id}}" class="lemur-item item-input-dropdown">
	{% if answered %}
	<div class="item-answer">
	<strong class="item-question">{{title}}</strong><br />
	{"You answered"}: <span class="item-answer">{{answer}}</span>
		{% if correct === -1 %}
		({"incorrect"})
		{% elseif correct === 1 %}
		({"correct"})
		{% end %}
	</div>
	{% else %}
	<form class="item-input-form" data-id="{{id}}" data-question="{{title|quotes}}">
		<label for="input-{{id}}">{{title}}</label><br />
		<select id="input-{{id}}" name="input-{{id}}">
			<option value="">- {"Select"} -</option>
			{% foreach content as option %}
			<option value="{{option}}">{{option}}</option>
			{% end %}
		</select><br />
		<input type="submit" value="{"Submit"}" />
	</form>
	{% end %}
</div>
