<div id="item-{{id}}" class="lemur-item item-input-checkboxes">
	{% if answered %}
	<div class="item-answer">
	<strong class="item-question">{{title}}</strong><br />
	{"You answered"}: <span class="item-answer">{{answer}}</span>
		{% if correct === -1 %}
		({"incorrect"})
		{% elseif correct === 1 %}
		({"correct"})
		{% end %}
	</div>
	{% else %}
	<form class="item-input-form" data-id="{{id}}" data-question="{{title|quotes}}">
		<fieldset>
			<legend>{{title}}</legend>
			{% foreach content as num, option %}
			<input type="checkbox" name="input-{{id}}[]" id="input-{{id}}-{{num}}" value="{{option}}" />
			<label for="input-{{id}}-{{num}}">{{option}}</label><br />
			{% end %}
		</fieldset>
		<input type="submit" value="{"Submit"}" />
	</form>
	{% end %}
</div>
