<div id="item-{{id}}" class="lemur-item item-input-checkboxes">
	{% if answered %}
	<div class="item-answer">
	<strong class="item-question">{{title}}</strong><br />
	<div class="learner-response">
		<span class="learner-notice">{"You have submitted the following answer"}:</span>
		<span class="item-answer">{{answer}}</span>
		{% if correct === -1 %}
		({"incorrect"})
		{% elseif correct === 1 %}
		({"correct"})
		{% end %}
	</div>
	</div>
	{% else %}

	{% if ! quiz %}
		<form class="item-input-form" data-id="{{id}}" data-question="{{title|quotes}}">
	{% else %}
		<div id="item-input-wrapper-{{id}}" data-question="{{title|quotes}}">
	{% end %}

	{% if instructor %}
		<input type="hidden" name="instructor" value="yes" />
	{% end %}
		<fieldset>
			<legend>{{title}}</legend>
			{% foreach content as num, option %}
			<input type="checkbox" name="input-{{id}}[]" id="input-{{id}}-{{num}}" value="{{option}}" data-id="{{id}}" />
			<label for="input-{{id}}-{{num}}">{{option}}</label><br />
			{% end %}
		</fieldset>

	{% if ! quiz %}
		<input type="submit" value="{"Submit"}" />
		</form>
	{% else %}
		</div>
	{% end %}

	{% end %}
</div>
