<p style="margin-top: -10px">
	<a href="#" onclick="return lemur.add_category ()">{"Add Category"}</a>
	&nbsp;|&nbsp;
	<a href="/lemur/categories/sort">{"Sort Categories"}</a>
</p>

{% foreach categories as category %}
<h5>
	<span class="category" data-id="{{category-id}}">
		<span>{"Click to edit"}</span>
		{{category->title}}
	</span><br />
	<a href="/lemur/course/add?category={{category->id}}" class="sub-link">{"Add Course"}</a>
</h5>

{% if count ($data->category->courses) > 0 %}
<p>
<table width="100%">
	<tr>
		<th width="40%">{"Course"}</th>
		<th width="25%">{"Availability"}</th>
		<th width="15%">{"Status"}</th>
		<th width="20%">&nbsp;</th>
	</tr>
{% foreach category->courses as course %}
	<tr>
		<td>{{course->title}}</td>
		<td>
			{{course->availability|lemur\Filter::availability}}
			{% if course->availability == 4 %}
				({{course->price|lemur\Filter::money}})
			{% end %}
		</td>
		<td>{{course->status|lemur\Filter::status}}</td>
		<td>
			<a href="/lemur/course/edit?id={{course->id}}">{"Settings"}</a>
			&nbsp;|&nbsp;
			<a href="/lemur/course/manage?id={{course->id}}">{"Content"}</a>
			&nbsp;|&nbsp;
			<a href="/lemur/course/delete?id={{course->id}}" onclick="return confirm ('{"Are you sure you want to delete this course?"}')">{"Delete"}</a>
		</td>
	</tr>
{% end %}
</table>
</p>
{% end %}

{% end %}
