{! admin/util/fontawesome !}

<h2>{"My courses"}</h2>

{% if count ($data->courses) == 0 %}
<p>{"You are not currently subscribed to any courses."}</p>
{% else %}

{% foreach courses as course %}
	<div class="lemur-course">
		{% if course->thumb != '' %}
			<img src="/{{course->thumb|Image::resize(%s, 39, 39)}}" alt="{{course->title}}" class="lemur-course-thumbnail" />
		{% else %}
			<i class="icon-lightbulb icon-3x lemur-course-thumbnail"></i>
		{% end %}
		<h4 class="lemur-course-title"><a href="/course/{{course->id}}/{{course->title|URLify::filter}}">{{course->title}}</a></h4>
		<p class="lemur-course-description">
			<span class="lemur-course-summary">{{course->summary}}</span>
		</p>
	</div>
{% end %}

{% end %}

{% if count ($data->instructing) > 0 %}
<h2>{"Instructing courses"}</h2>

{% foreach instructing as course %}
	<div class="lemur-course">
		{% if course->thumb != '' %}
			<img src="/{{course->thumb|Image::resize(%s, 39, 39)}}" alt="{{course->title}}" class="lemur-course-thumbnail" />
		{% else %}
			<i class="icon-lightbulb icon-3x lemur-course-thumbnail"></i>
		{% end %}
		<h4 class="lemur-course-title"><a href="/course/{{course->id}}/{{course->title|URLify::filter}}">{{course->title}}</a></h4>
		<p class="lemur-course-description">
			<span class="lemur-course-summary">{{course->summary}}</span>
		</p>
	</div>
{% end %}

{% end %}

<h2>{"Available courses"}</h2>
