<p>
	<a href="/lemur/course/manage?id={{course}}" id="done-editing">&laquo; {"Done Editing"}</a>
	<span id="saving">&nbsp;&nbsp;&nbsp;{"Saving..."}</span>
</p>

<div class="sidebar">
	{"Add content"}:
	<ul>
		<li><a href="#" id="add-text" data-bind="click: add_text_field">{"Text"}</a></li>
		<li><a href="#" id="add-image" data-bind="click: add_image_field">{"Image"}</a></li>
		<li><a href="#" data-bind="click: add_video_field">{"Video"}</a></li>
		<li><a href="#" data-bind="click: add_html_field">{"HTML code"}</a></li>
		<li><a href="#" data-bind="click: add_pre_field">{"Pre-formatted text"}</a></li>
		<li><a href="#" data-bind="click: add_scorm_field">{"SCORM module"}</a></li>
		<li><a href="#" data-bind="click: add_file_field">{"File download"}</a></li>
		<!-- li><a href="#" data-bind="click: add_accordion_field">{"Accordion"}</a></li -->
		<li><a href="#" data-bind="click: add_definition_field">{"Definition"}</a></li>
	</ul>
	{"Add a question"}:
	<ul>
		<li><a href="#" data-bind="click: add_input_field">{"Single-line answer"}</a></li>
		<li><a href="#" data-bind="click: add_para_field">{"Paragraph answer"}</a></li>
		<li><a href="#" data-bind="click: add_drop_field">{"Drop down"}</a></li>
		<li><a href="#" data-bind="click: add_check_field">{"Checkboxes"}</a></li>
		<li><a href="#" data-bind="click: add_multi_field">{"Multiple choice"}</a></li>
	</ul>
</div>

<div class="main">
	<div class="toggle">
		<a href="#" id="toggle-list" data-bind="click: show_list" title="{"Sort items"}"></a>
		<a href="#" id="toggle-full" data-bind="click: show_full" title="{"Edit items"}"></a>
	</div>
	<div id="item-list-full">
		<p class="info">{"Click the links to the left to add content to your page."}</p>
		<ul id="item-list" data-bind="template: { name: template_name, foreach: items }"></ul>
	</div>
	<div id="item-list-list">
		<p class="info">{"Drag and drop to re-order your page content."}</p>
		<ul id="item-list-sortable" data-bind="sortable: { template: 'tpl-list-item', data: items }"></ul>
	</div>
</div>

<script>
$(function () {
	$.waypoints.settings.scrollThrottle = 30;
	$('.sidebar').waypoint (function (direction) {
		if (direction === 'down') {
			$(this).addClass ('sticky');
		} else {
			$(this).removeClass ('sticky');
		}
	});

	editor.init ({
		course: {{course}},
		page: {{page}},
		items: {{items|json_encode}},
		scorm_modules: {{scorm_modules|json_encode}},
		str: {
			delete_confirm: '{"Are you sure you want to delete this item?"}',
			untitled: '{"Untitled"}',
			choose_image: '{"Choose an image"}',
			choose_video: '{"Choose a video"}',
			choose_file: '{"Choose a file"}'
		},
		type_names: {
			1: '{"Text"}',
			2: '{"Image"}',
			3: '{"Video"}',
			4: '{"HTML code"}',
			5: '{"Pre-formatted text"}',
			6: '{"SCORM module"}',
			7: '{"File download"}',
			8: '{"Accordion"}',
			9: '{"Definition"}',
			10: '{"Single-line answer"}',
			11: '{"Paragraph answer"}',
			12: '{"Drop down"}',
			13: '{"Checkboxes"}',
			14: '{"Multiple choice"}'
		}
	});
});
</script>

<script id="tpl-list-item" type="text/html">
	<li class="sortable-item" data-bind="attr: { 'data-id': id }">
		<a href="#" data-bind="attr: { 'data-id': id }">
			<span data-bind="text: sortable_title"></span>
			(<span data-bind="text: type_name"></span>)
		</a>
	</li>
</script>

<script id="tpl-item-1" type="text/html">
	<li class="item" data-bind="attr: { id: 'item-' + id, 'data-id': id }">
		<a href="#" class="delete" data-bind="event: { click: editor.delete_item }">{"Delete"}</a>
		<h6 data-bind="text: type_name"></h6>
		<p>
			<label>{"Title"}:</label>
			<input type="text" name="title" data-bind="value: title, event: { blur: editor.update_items }" size="50" />
		</p>
		<p>
			<textarea
				name="content"
				class="wysiwyg"
				data-bind="value: content, attr: { 'data-id': id }"
				style="width: 100%; height: 200px"
			></textarea>
		</p>
	</li>
</script>

<script id="tpl-item-2" type="text/html">
	<li class="item" data-bind="attr: { id: 'item-' + id, 'data-id': id }">
		<a href="#" class="delete" data-bind="event: { click: editor.delete_item }">{"Delete"}</a>
		<h6 data-bind="text: type_name"></h6>
		<p>
			{"Preview"}:<br />
			<img data-bind="attr: { src: img_src }" class="item-preview" /><br />
			<input type="hidden" name="content" data-bind="value: content, attr: { id: 'content-' + id }" size="76" />
			<input type="submit" class="browse-button" value="{"Browse"}" data-bind="event: { click: editor.filemanager_image }" />
		</p>
		<p>
			<label>{"Description"}:</label>
			<input type="text" name="title" data-bind="value: title, event: { blur: editor.update_items }" size="90" />
		</p>
	</li>
</script>

<script id="tpl-item-3" type="text/html">
	<li class="item" data-bind="attr: { id: 'item-' + id, 'data-id': id }">
		<a href="#" class="delete" data-bind="event: { click: editor.delete_item }">{"Delete"}</a>
		<h6 data-bind="text: type_name"></h6>
		<p>
			<label>{"Video"}:</label>
			<input type="text" name="content" placeholder="http://" data-bind="value: content, attr: { id: 'content-' + id }, event: { blur: editor.update_items }" size="76" />
			<input type="submit" value="{"Browse"}" data-bind="event: { click: editor.filemanager_video }" />
		</p>
		<p>
			<label>{"Description"}:</label>
			<input type="text" name="title" data-bind="value: title, event: { blur: editor.update_items }" size="90" />
		</p>
	</li>
</script>

<script id="tpl-item-4" type="text/html">
	<li class="item" data-bind="attr: { id: 'item-' + id, 'data-id': id }">
		<a href="#" class="delete" data-bind="event: { click: editor.delete_item }">{"Delete"}</a>
		<h6 data-bind="text: type_name"></h6>
		<p>
			<label>{"Title"}:</label>
			<input type="text" name="title" data-bind="value: title, event: { blur: editor.update_items }" size="50" />
		</p>
		<p>
			<textarea
				name="content"
				class="html"
				data-bind="value: content, attr: { 'data-id': id }"
			></textarea>
		</p>
	</li>
</script>

<script id="tpl-item-5" type="text/html">
	<li class="item" data-bind="attr: { id: 'item-' + id, 'data-id': id }">
		<a href="#" class="delete" data-bind="event: { click: editor.delete_item }">{"Delete"}</a>
		<h6 data-bind="text: type_name"></h6>
		<p>
			<label>{"Title"}:</label>
			<input type="text" name="title" data-bind="value: title, event: { blur: editor.update_items }" size="50" />
		</p>
		<p>
			<textarea
				name="content"
				class="pre"
				data-bind="value: content, attr: { 'data-id': id }"
			></textarea>
		</p>
	</li>
</script>

<script id="tpl-item-6" type="text/html">
	<li class="item" data-bind="attr: { id: 'item-' + id, 'data-id': id }">
		<a href="#" class="delete" data-bind="event: { click: editor.delete_item }">{"Delete"}</a>
		<h6 data-bind="text: type_name"></h6>
		<p>
			<label>{"Module"}:</label>
			<select
				name="title"
				data-bind="options: editor.scorm_modules, optionsCaption: '- {"Select"} -', value: title, event: { change: editor.update_items }"></select>
		</p>
		<p>
			<label>{"Description"}:</label>
			<input type="text" name="content" data-bind="value: content, event: { blur: editor.update_items }" size="90" />
		</p>
	</li>
</script>

<script id="tpl-item-7" type="text/html">
	<li class="item" data-bind="attr: { id: 'item-' + id, 'data-id': id }">
		<a href="#" class="delete" data-bind="event: { click: editor.delete_item }">{"Delete"}</a>
		<h6 data-bind="text: type_name"></h6>
		<p>
			<label>{"File"}:</label>
			<input type="text" name="content" placeholder="http://" data-bind="value: content, attr: { id: 'content-' + id }, event: { blur: editor.update_items }" size="76" />
			<input type="submit" value="{"Browse"}" data-bind="event: { click: editor.filemanager_file }" />
		</p>
		<p>
			<label>{"Description"}:</label>
			<input type="text" name="title" data-bind="value: title, event: { blur: editor.update_items }" size="90" />
		</p>
	</li>
</script>

<script id="tpl-item-9" type="text/html">
	<li class="item" data-bind="attr: { id: 'item-' + id, 'data-id': id }">
		<a href="#" class="delete" data-bind="event: { click: editor.delete_item }">{"Delete"}</a>
		<h6 data-bind="text: type_name"></h6>
		<p>
			<label>{"Term"}:</label>
			<input type="text" name="title" data-bind="value: title, event: { blur: editor.update_items }" size="50" />
		</p>
		<p>
			<label>{"Definition"}:</label><br />
			<textarea
				name="content"
				data-bind="value: content,event: { blur: editor.update_items }"
				style="width: 98%; height: 50px"
			></textarea>
		</p>
	</li>
</script>

<script id="tpl-item-10" type="text/html">
	<li class="item" data-bind="attr: { id: 'item-' + id, 'data-id': id }">
		<a href="#" class="delete" data-bind="event: { click: editor.delete_item }">{"Delete"}</a>
		<h6 data-bind="text: type_name"></h6>
		<p>
			<label>{"Question"}:</label>
			<input type="text" name="title" data-bind="value: title, event: { blur: editor.update_items }" style="width: 580px" />
		</p>
	</li>
</script>

<script id="tpl-item-11" type="text/html">
	<li class="item" data-bind="attr: { id: 'item-' + id, 'data-id': id }">
		<a href="#" class="delete" data-bind="event: { click: editor.delete_item }">{"Delete"}</a>
		<h6 data-bind="text: type_name"></h6>
		<p>
			<label>{"Question"}:</label>
			<input type="text" name="title" data-bind="value: title, event: { blur: editor.update_items }" style="width: 580px" />
		</p>
	</li>
</script>

<script id="tpl-item-12" type="text/html">
	<li class="item" data-bind="attr: { id: 'item-' + id, 'data-id': id }">
		<a href="#" class="delete" data-bind="event: { click: editor.delete_item }">{"Delete"}</a>
		<h6 data-bind="text: type_name"></h6>
		<p>
			<label>{"Question"}:</label>
			<input type="text" name="title" data-bind="value: title, event: { blur: editor.update_items }" style="width: 580px" />
		</p>
		<p>
			<label class="ultra-wide">{"Choices (one-per line)"}:</label><br />
			<textarea
				name="content"
				data-bind="value: content,event: { blur: editor.update_items }"
				style="width: 98%; height: 100px"
			></textarea>
		</p>
	</li>
</script>

<script id="tpl-item-13" type="text/html">
	<li class="item" data-bind="attr: { id: 'item-' + id, 'data-id': id }">
		<a href="#" class="delete" data-bind="event: { click: editor.delete_item }">{"Delete"}</a>
		<h6 data-bind="text: type_name"></h6>
		<p>
			<label>{"Question"}:</label>
			<input type="text" name="title" data-bind="value: title, event: { blur: editor.update_items }" style="width: 580px" />
		</p>
		<p>
			<label class="ultra-wide">{"Choices (one-per line)"}:</label><br />
			<textarea
				name="content"
				data-bind="value: content,event: { blur: editor.update_items }"
				style="width: 98%; height: 100px"
			></textarea>
		</p>
	</li>
</script>

<script id="tpl-item-14" type="text/html">
	<li class="item" data-bind="attr: { id: 'item-' + id, 'data-id': id }">
		<a href="#" class="delete" data-bind="event: { click: editor.delete_item }">{"Delete"}</a>
		<h6 data-bind="text: type_name"></h6>
		<p>
			<label>{"Question"}:</label>
			<input type="text" name="title" data-bind="value: title, event: { blur: editor.update_items }" style="width: 580px" />
		</p>
		<p>
			<label class="ultra-wide">{"Choices (one-per line)"}:</label><br />
			<textarea
				name="content"
				data-bind="value: content,event: { blur: editor.update_items }"
				style="width: 98%; height: 100px"
			></textarea>
		</p>
	</li>
</script>
