<div id="lemur-course-menu">
	<p>{"Contents"}:</p>

	<ol>
	{% foreach pages as page_id, page_title %}
		<li><a href="/course/{{id}}/{{title|URLify::filter}}/{{page_id}}/{{page_title|URLify::filter}}">{{page_title}}</a></li>
	{% end %}
	</ol>
	<p>
	{% if instructor %}
		<a href="/course/{{id}}/{{title|URLify::filter}}/contact">{"Email instructor"}</a><br />
	{% end %}
	{% if has_glossary %}
		<a href="/course/{{id}}/{{title|URLify::filter}}/glossary">{"Glossary"}</a>
	{% end %}
	</p>
</div>

<div id="lemur-course-body">
	<h3>{"Email the instructor"}</h3>

	{% if error %}
	<p class="error">{{error}}</p>
	{% end %}

	<form method="post" id="{{ _form }}">

	<p>
		{"Please enter your message for the instructor"}:<br />
		<textarea name="message" rows="12" cols="70">{{message}}</textarea>
	</p>

	<p><input type="submit" value="{"Send message"}" /></p>

	</form>
</div>

<br clear="both" />
