{! filemanager/util/browser !}
{! user/util/userchooser !}

<div class="form">
<form method="POST" id="{{_form}}">

<p>
	{"Title"}:<br />
	<input type="text" name="title" value="{{title|quotes}}" size="50" />
	<span class="notice" id="title-notice">{"Please enter a title."}</span>
</p>

<p>
	{"Summary"}: <span class="notice" id="summary-notice">{"Please enter a summary."}</span><br />
	<textarea name="summary" cols="60" rows="4">{{summary|quotes}}</textarea>
</p>

<p>
	{"Thumbnail (optional)"}:<br />
	<input type="text" name="thumb" id="thumb" value="{{thumb|quotes}}" size="30" />
	<input type="submit" id="thumb-button" value="{"Browse"}" />
</p>

<p>
	{"Instructor"}:<br />
	<strong id="instructor-name" style="display: inline-block; min-width: 140px">{{instructor_name}}</strong>
	<input type="hidden" name="instructor" id="instructor" value="{{instructor|quotes}}" />
	<input type="submit" id="instructor-button" value="{"Browse"}" />
	<a href="#" id="instructor-clear">{"Clear"}</a>
</p>

<p>
	{"Category"}:<br />
	<select name="category">
	{% for categories as _key, _category %}
		<option value="{{ _key }}"{% if _key == $data->category %} selected{% end %}>{{ _category }}</option>
	{% end %}
	</select>
</p>

<p>
	{"Availability"}:<br />
	<select name="availability" id="availability">
		<option value="1"{% if availability == 1 %} selected{% end %}>{"Private"}</option>
		<option value="2"{% if availability == 2 %} selected{% end %}>{"Public - Free"}</option>
		<option value="3"{% if availability == 3 %} selected{% end %}>{"Public - Free w/ registration"}</option>
		<option value="4"{% if availability == 4 %} selected{% end %}>{"Public - Paid"}</option>
	</select>
</p>

<p id="pricing" style="display: none">
	{"Price"}:<br />
	$<input type="text" name="price" value="{{price|quotes}}" size="20" />
	<span class="notice" id="price-notice">{"Please enter a price."}</span>
</p>

<p>
	{"Status"}:<br />
	<select name="status">
		<option value="1"{% if status == 1 %} selected{% end %}>{"Draft"}</option>
		<option value="2"{% if status == 2 %} selected{% end %}>{"Published"}</option>
	</select>
</p>

<p>
	<input type="submit" value="{"Save Course"}" />
	&nbsp;
	<a href="/lemur/course/unlock?id={{id}}" onclick="return confirm ('{"Are you sure you want to cancel?"}')">{"Cancel"}</a>
</p>

</form>
</div>

<script>
$(function () {
	$('#thumb-button').click (function () {
		$.filebrowser ({
			thumbs: true,
			set_value: '#thumb',
			title: '{"Choose an image"}'
		});
		return false;
	});

	$('#instructor-button').click (function () {
		$.userchooser ({
			set_id_value: '#instructor',
			set_name_value: '#instructor-name'
		});
		return false;
	});

	$('#instructor-clear').click (function () {
		$('#instructor').val (0);
		$('#instructor-name').text ('{"None"}');
		return false;
	});

	// on load
	if ($('#availability').val () == 4) {
		$('#pricing').show ();
	}

	// on change
	$('#availability').change (function () {
		if ($(this).val () == 4) {
			$('#pricing').show ();
		} else {
			$('#pricing').hide ();
		}
	});
});
</script>
