{! admin/util/fontawesome !}

<div id="lemur-course-menu">
	<p>{"Contents"}:</p>

	<ol>
	{% foreach pages as page_id, page_title %}
		<li{% if page_id == $data->id %} class="current"{% end %}><a href="/course/{{course}}/{{course_title|URLify::filter}}/{{page_id}}/{{page_title|URLify::filter}}">{{page_title}}</a></li>
	{% end %}
	</ol>
	<p>
	{% if instructor %}
		<a href="/course/{{course}}/{{course_title|URLify::filter}}/contact">{"Email instructor"}</a><br />
	{% end %}
	{% if has_glossary %}
		<a href="/course/{{course}}/{{course_title|URLify::filter}}/glossary">{"Glossary"}</a>
	{% end %}
	</p>
</div>

<div id="lemur-course-body">
	<h3>{{title}}</h3>
	{{page_body|none}}

	<div id="lemur-course-comments">
	<h4>{"Comments"}</h4>
	{! comments/embed?identifier=[comments_id] !}
	</div>
</div>

<br clear="both" />

<script>
$(function () {
	course.init ({
		strings: {
			answered: '{"You answered"}',
			correct: '{"correct"}',
			incorrect: '{"incorrect"}',
			instructor: '{"Sorry, but instructors cannot submit answers."}'
		}
	});
});
</script>
