{! admin/util/fontawesome !}

<div id="lemur-course-menu">
	{% if ! is_instructor %}
	{% if ! is_learner %}
		<form method="post">
		<p class="lemur-subscribe">
			<input type="hidden" name="subscribe" value="1" />
			<button class="lemur-course-price lemur-course-price-free">{"Join this course"}</button>
		</p>
		</form>
	{% end %}
	{% end %}

	<h3>{"Contents"}:</h3>

	<ol>
	{% foreach pages as page_id, page_title %}
		<li{% if page_id == $data->id %} class="current"{% end %}><a href="/course/{{course}}/{{course_title|URLify::filter}}/{{page_id}}/{{page_title|URLify::filter}}">{{page_title}}</a></li>
	{% end %}
	</ol>
	<p class="lemur-learner-links">
	{% if is_learner %}
	{% if instructor %}
		<a href="/course/{{course}}/{{course_title|URLify::filter}}/contact">{"Email instructor"}</a><br />
	{% end %}
	{% end %}
	{% if has_glossary %}
		<a href="/course/{{course}}/{{course_title|URLify::filter}}/glossary">{"Glossary"}</a>
	{% end %}
	</p>

	{% if is_instructor %}
		<div class="lemur-instructor-menu">
			<p>{"Instructor Links"}:</p>
			<ul>
				<li><a href="/lemur/course/learners?id={{id}}">{"Learners"}</a></li>
				<li><a href="/lemur/course/manage?id={{id}}">{"Edit course"}</a></li>
				<li><a href="/lemur/course/edit?id={{id}}">{"Settings"}</a></li>
			</ul>
		</div>
	{% end %}
	
	{% if is_learner %}
		<p class="lemur-learner-progress">
			{"Your progress"}:<br />
			{! lemur/status?course=[id] !}
		</p>
	{% end %}
</div>

<div id="lemur-course-body">
	<h3>{{title}}</h3>
	{{page_body|none}}

	<div id="lemur-course-comments">
	<h4>{"Comments"}</h4>
	{! comments/embed?identifier=[comments_id] !}
	</div>
</div>

<br clear="both" />

<script>
$(function () {
	course.init ({
		strings: {
			answered: '{"You answered"}',
			correct: '{"correct"}',
			incorrect: '{"incorrect"}',
			instructor: '{"Sorry, but instructors cannot submit answers."}'
		}
	});
});
</script>
