{! admin/util/fontawesome !}

<div class="lemur-course-summary">

{% if thumb != '' %}
	<img src="/{{thumb|Image::resize (%s, 39, 39)}}" alt="{{title}}" class="lemur-course-thumbnail" />
{% else %}
	<i class="icon-lightbulb icon-3x lemur-course-thumbnail"></i>
{% end %}

<p>{{summary}}<br />

<form method="post">
<input type="hidden" name="subscribe" value="1" />
{% if availability == 4 %}
	<button class="lemur-course-price lemur-course-price-paid">{"Join this course"} - {{price|lemur\Filter::money}}</button>
{% else %}
	<button class="lemur-course-price lemur-course-price-free">{"Join this course for free"}</button>
{% end %}
</form>

</div>
